.form-evento {
    background-color: #212121 ;
    border-radius: 16px;
    width: 384px;
    height: 406px;
    margin: 64px auto;
    padding: 32px 28px;
    max-width: 90%;
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.acoes {
    margin-top: 32px;
    text-align: center;
}