.botao {
    background-color: #17D9B1;
    margin: -10px auto;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    color: #212121;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    line-height: 120%;
}

.botao:hover {
    background-color: #0F9E7B;
}