.titulo-tema {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  margin: 5px;
}
