.card-evento {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  width: 282px;
  gap: 8px;
}

.card-evento p,
.card-evento h4 {
  margin: 0;
}

.card-evento .corpo {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: #ffffff;
}

.card-evento .tag {
  background-color: #4a4949;
  font-size: 10px;
  font-family: "Orbitron", sans-serif;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  line-height: 120%;
  letter-spacing: 10%;
  display: inline-block;
}

.data {
  font-family: "Work Sans", sans-serif;
  font-size: 13px;
}

.titulo {
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 125%;
}
