header {
    background-color: #06151A;
    display: flex;
    justify-content: center;
    padding: 32px;
}

section {
    background: linear-gradient(180deg, #17DCB3, #212121);
    display: flex;
    justify-content: center;
}

section img {
    max-width: 90%;
}