header {
    background-color: #06151A;
    display: flex;
    justify-content: center;
    padding: 32px;
}

section {
    background: linear-gradient(180deg, #17DCB3, #212121);
    display: flex;
    justify-content: center;
}

section img {
    max-width: 90%;
}

.form-evento {
    background-color: #212121 ;
    border-radius: 16px;
    width: 384px;
    height: 406px;
    margin: 64px auto;
    padding: 32px 28px;
    max-width: 90%;
}