body {
    background-color: #06151A;
}

header {
    background-color: #06151A;
    display: flex;
    justify-content: center;
    padding: 32px;
}

.container {
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
}

.eventos {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}
